/*Title: Navigation css Use: style navigation Author: Lea Keeling School/Term: University of Missouri/Sp 2022
    Developed: March 24, 2022 Tested: April 23, 2022. Passed Chrome and Edge Browsers*/

* {
    margin: 0;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #083224;
    top: 0;
}


nav ul {
    float: left;
    list-style: none;
    position: relative;
}
 
nav ul li {
    display: inline;
    border: none;
    text-decoration: none;
    text-align: center;
    width: 125px;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin-top: 0;
    float: left;
    position: relative;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul li a {
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    width: 110px;
    padding: 2px 1px;
    display: block;
}

nav ul li ul {
    display: block;
    position: absolute;
    background-color: #083224;
    padding: 10px;
}

/*drop-down*/
nav ul>li ul {
    display: block;
    margin-top: 0;
    display: none;
}
    
/*hover to display the drop-down*/
nav>ul>li:hover>ul{
    display: block;
}

/*Do I need this?*/
nav ul li ul li a {
    padding: 2px 1px;
}

nav ul li ul li a:hover {
    background-color: #d08d57;
}


/* (C) HIDE HAMBURGER code from JK's example */
#hamnav label, #hamburger { display: none; }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    background-color: #083224;
    width: 100%;
    border-top: 1px solid #333;
  
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: #f3efe9;
    background: #d08d57;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

