/*Title:  Style css Use: style website Author: Lea Keeling School/Term: University of Missouri/Sp 2022
    Developed: March 24, 2022 Tested: April 12, 2022. Passed Chrome and Edge Browsers*/

.header {
    color: #083224;
    text-align: center;
}

body {
font-family: sans-serif;
}

main p:first-child::first-letter { 
    font-weight: bold;
    font-size: 150%; }

main p {
    text-indent: 2em;
}


main {
    border: none;
    width: 800px;
    margin: 10px 20px 10px;
    padding: 10px;
}


footer {
    text-align: center;
}