/*Title:  Style css Use: style website Author: Lea Keeling School/Term: University of Missouri/Sp 2022
    Developed: March 24, 2022 Tested: April 12, 2022. Passed Chrome and Edge Browsers*/

.header {
    color: #083224;
    text-align: center;
}

body {
font-family: sans-serif;
}

h2 {
    text-align: center;
}

#first::first-letter { 
    font-weight: bold;
    font-size: 130%;
    color: #083224;
 }

#first {
    text-indent: 0;
}

main p {
    text-indent: 2em;
}

/*How do I do the box?*/
main {
    border: none;
    width: 1000px;
    margin: 20px;
    padding: 20px;
}


footer {
    text-align: center;
}