/*Title:  Style css Use: style website Author: Lea Keeling School/Term: University of Missouri/Sp 2022
    Developed: March 24, 2022 Tested: April 12, 2022. Passed Chrome and Edge Browsers*/

 .container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 10% 40% 30% 10%;
    grid-template-areas:
        "navigation navigation"
        "header header"
        "content image"
        "resume iframe-container"
        "footer footer";
    }

.header {
    color: #083224;
    text-align: center;
}

body {
font-family: sans-serif;
}

h2 {
    text-align: center;
}

#first::first-letter { 
    font-weight: bold;
    font-size: 130%;
    color: #083224;
 }

#first {
    text-indent: 0;
}

#refpara {
    text-indent: 2em;
}

#refpara2 {
    text-indent: 2em;
}

#refpara3 {
    text-indent: 2em;
}

blockquote {
    font-size:x-large;
    text-align: center;
}

/*Box*/
#refmain {
    border: none;
    width: 500px;
    margin: 20px;
    padding: 20px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #083224;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}


/*placeholder
@media (max-width: 768px) {}

/*code from YouTube to make responsive but need to fix
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }*/

